h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 2802012211 - Inspeccionar el sistema de captación de acuerdo con normativa aplicable y manuales de operación.