h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Reflexión sobre nuestro papel en el planeta', 'main.html#page/reflexion/')
                    +navTemaItem('2', 'Abastecimiento de agua', 'main.html#page/abastecimiento/')
                    +navTemaItem('3', 'Sistemas de captación', 'main.html#page/sistemas/')
                    +navTemaItem('4', 'Muestreo y medición', 'main.html#page/muestreo/')                    