.container
    .header-ecored
        h1 2. Abastecimiento de agua
    .jumbotron.bg-white
        .row.justify-content-center.align-items-center
            .col-12.col-md-6
                p Realizar una gestión adecuada de los recursos hídricos para una sociedad es de suma importancia, porque el consumo, el aseo, la producción de bienes y servicios, entre otras actividades, genera una demanda constante del recurso.

                p Es por esto que el abastecimiento de agua es un pilar de desarrollo para los países, porque garantizar el acceso y la calidad de este recurso, se traduce en mejoramiento de la calidad de vida, salud y progreso de la población.

                p Luego, lo primero, que se debe reconocer es el término #[strong abastecimiento de agua], pues este se interpreta como: “el conjunto de obras necesarias para captar, conducir, tratar, almacenar y distribuir el agua desde fuentes naturales, ya sean subterráneas o superficiales, hasta las viviendas de los habitantes que serán favorecidos con dicho sistema” (Cárdenas y Patiño, 2010), es decir, lo que se reconoce como sistema de acueducto.            
            .col-12.col-md-6
                img.img-a(src="assets/images/pages/ilustraciones/img7.png").img-fluid 
                
        .header-arrow.py-4.mt-5
            h3.text-center De acuerdo al Ministerio de Desarrollo Económico, en el Reglamento técnico del sector de Agua potable y Saneamiento básico [RAS], titulo A, un sistema de acueducto se entiende como
        .row.justify-content-center.align-items-center.mt-5
            .col-10.card-color-1.px-5.py-5
                p.mb-0 … el conjunto de instalaciones que conducen el agua desde su captación en la fuente de abastecimiento hasta la acometida domiciliaria en el punto de empate con la instalación interna del predio a servir y comprende los siguientes componentes: la(s) fuente(s) de abastecimiento, la(s) captación(es) de agua superficial y/o agua subterránea y sus anexidades, la(s) aducción(es) y conducción(es), las redes de distribución, las estaciones de bombeo y los tanques de compensación (p.43). 
        p.mt-5 Con base en lo anterior, se puede inferir que el término #[strong abastecimiento de agua] hace referencia a todo sistema que se construye  para garantizar el suministro de agua potable para consumo humano.        
        section.mt-5

            a(href="https://www.ins.gov.co/sivicap/Documentacin%20SIVICAP/2011%20Manual%20toma%20de%20muestras%20agua.pdf" target="_blank").media-link      

                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                .media-link-title
                    p.text-small Fuente: Instituto Nacional de Salud (INS), Manual de instrucciones para la preservación y transporte de muestras de agua para consumo humano (2011, p.11).   
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img8.svg").img-fluid

        .sub-ecored.mt-5#21
            h2 2.1 Conceptos asociados al tema de cuenca 
        p El suministro de agua potable involucra una serie de elementos en los que la selección de la fuente de abastecimiento y su uso se encuentran enmarcados en un contexto de gestión del recurso hídrico, suelo, flora y fauna, agrupados en un área denominada cuenca.

        .sub-title.mt-5
            h3 ¿Qué es una cuenca hidrográfica?
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img9.svg").img-fluid

        p De acuerdo con el Decreto 1640 de 2012, en su artículo 3°, entiéndase por cuenca u hoya hidrográfica, el área de aguas superficiales o subterráneas que vierten a una red hidrográfica natural con uno o varios cauces naturales, de caudal continuo o intermitente, que confluyen en un curso mayor, que a su vez puede desembocar en un río principal, en un depósito natural de aguas, en un pantano o directamente en el mar.
        p También se reconoce a la cuenca como “una unidad de territorio donde las aguas fluyen naturalmente, conformando un sistema interconectado, en el cual interactúan aspectos biofísicos, socioeconómicos y culturales (Instituto de Hidrología, Meteorología y Estudios Ambientales [IDEAM], 2004, p.5).

        .teme-line.mt-5        
            h3 Interacciones asociadas a las cuencas
        p Alrededor de las cuencas hidrográficas se dan infinidad de interacciones humanas que generan una intervención directa con los territorios circundantes a estas zonas, es por ello que el manejo territorial de las cuencas se convierte en una herramienta de gestión territorial fundamental para las regiones.
        .header-arrow.py-4.my-5
            h3.text-center Dentro de esas interacciones que se pueden dar, la cuenca hidrográfica es determinada como:  
        .row.justify-content-center.align-items-center            
            .col-10.card-color.px-5.py-5.border
                p.mb-0 Un área que es fuente de recursos hidráulicos, en la cual existe un manejo planificado de los recursos naturales y de la preservación del ecosistema como un complemento de la acción de administración del agua (Nadal, 1993, Citado en García, W. s.f. p.3). 

            .col-10.card-color.px-5.py-5.border.mt-5
                p.mb-0 Un espacio ocupado por un grupo humano, que genera una demanda sobre la oferta de los recursos naturales renovables y realiza transformaciones del medio (Dourojeanni, 1994, Citado en García, W. s.f. p.3). 

            .col-10.card-color.px-5.py-5.border.mt-5
                p.mb-0 Un sistema organizado de relaciones complejas, tanto internas como externas. Es un sistema contenido dentro de otro sistema (ambiente), constituido por las interacciones de otros subsistemas (biofísico, social, económico, etc.), cuyo fin principal es producir bienestar a la sociedad que la gobierna (cantidad y calidad de agua, energía, insumos, alimentos, recreación, etc.) (García, W. s.f. p.3).   
        .header-arrow.py-4.my-5    
            h3 Teniendo en cuenta lo anteriormente descrito, según García (s.f.), las cuencas hidrográficas se interrelacionan con sus componentes elementales de la siguiente forma:           
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img10.svg").img-fluid  
        section.mt-5

            a(href="https://www.medellin.unal.edu.co/~poboyca/documentos/documentos1/documentos-Juan%20Diego/Plnaifi_Cuencas_Pregrado/Sistema%20CuencaHidrogr%E1fica.pdf" target="_blank").media-link      

                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                .media-link-title
                    p.text-small Fuente: García, W. (s.f.) El sistema complejo de la cuenca hidrográfica. p.5. [Diagrama]. 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img11.png").img-fluid
        p.mt-5 De acuerdo con el IDEAM (2008) y Olaya, E. y Tosse, L. (2014), para asegurar una gestión sistémica, se precisa definir ciertas unidades que orgánicamente conforman el sistema de la cuenca, como son: el área o macrocuenca hidrológica, las zonas hidrográficas, la cuenca propiamente dicha y la microcuenca o unidad mínima básica. 
        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Áreas hidrográficas o macrocuencas: definir las áreas hidrográficas permite no solo procesos de gestión, sino, a su vez, de control más eficientes para el país.  En Colombia se encuentran cinco (5), las cuales son: Magdalena-Cauca, Orinoco, Amazonas, Caribe y Pacífico; de estas zonas se debe mantener información documentada de recursos naturales renovables, y en especial, de los cauces principales de los ríos, haciendo énfasis en la calidad, cantidad y regularidad de las fuentes hídricas. Los planes estratégicos se formularán a escala 1: 500.000. 

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Zonas hidrográficas: corresponden a las definidas en el mapa de zonificación hidrográfica de Colombia, las cuales son el espacio para monitorear el estado del recurso hídrico y el impacto que sobre éste tienen las acciones desarrolladas en el marco de la política nacional para la gestión integral del recurso hídrico.
                p Es importante aclarar que el instrumento de planificación de las zonas hidrográficas en el país es el denominado Programa nacional de monitoreo del recurso hídrico, en el cual se encuentran todas las acciones planeadas, a realizar en las cuencas hidrográficas (Olaya, E. y Tosse, L., 2014. p.16).
         

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Cuenca (subzonas hidrográficas o su nivel subsiguiente): las cuencas tributarias de zonas o regiones hidrológicas serán el objeto de la formulación, implementación y ejecución de los Planes de Ordenación y Manejo de cuencas (POMCA), dichos planes estarán sujetos en un todo a los Planes Estratégicos estructurados para las zonas hidrográficas (IDEAM, 2008. p. 18).    

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Microcuenca y acuíferos: las microcuencas o unidades básicas serán el elemento integrador de la gestión y sobre las cuales se focalizarán las acciones. La ejecución de ellas responderá a una actuación local, orientada con una visión global, y serán objeto de planes de manejo ambiental  (IDEAM. 2008.p.18).

        .teme-line.mt-5
            h3 Caracterización de las cuencas 
        .header-arrow.py-4.my-5
            h3 En el proceso de caracterización de una cuenca se debe tener en cuenta:
        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Caracterización básica: cuando se habla de caracterización básica de la cuenca, se hace referencia a la descripción espacial de la misma sobre cartografía oficial, a escalas definidas, de acuerdo a la norma vigente, incluyendo descripción político-administrativa (departamental, municipal, veredal), jerarquización de centros poblados, ubicación de comunidades étnicas, territorios colectivos y resguardos indígenas (si aplican).

                p La importancia de esta caracterización en cartografía radica en que a partir de ella se generarán todos los productos que se requieren para el Plan de Ordenamiento y Manejo de Cuencas Hidrográficas (POMCA).
        p La cartografía base es la información digital contenida en una base de datos geográfica o geodatabases, escala 1:25.000 para el caso de las macrocuencas de la Orinoquia, Amazonas y Pacifico (también se puede usar escala 1:100.000); esta debe contener varias capas como: edificaciones, obras civiles, vías de transporte, centros poblados, hidrografía compuesta de drenajes sencillos, dobles y cuerpos de agua, el relieve compuesto por curvas de nivel, entre otros (Olaya, E. y Tosse, L., 2014. pág. 87).

        p Estos elementos cartográficos deben cumplir con las normas técnicas colombianas [NTC] 5043 de la calidad de la información geográfica y NTC 4611 sobre medidas de la información geográfica. Lo invitamos a consultarla en la base de datos del SENA.
 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img12.png").img-fluid

        section.mt-5

            a(href="http://biblioteca.sena.edu.co/paginas/bases.html" target="_blank").media-link      

                img(src="assets/images/pages/ilustraciones/enlace.svg", alt="").media-link-icon

                .media-link-title
                    p.text-small Para ampliar la información consulte Norma Técnicas Colombianas [NTC] 5043 de la calidad de la información geográfica y NTC 4611 sobre medidas de la información geográfica.  
        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Caracterización biofísica: factores y elementos que integran el medio natural (físico - biótico), donde se analiza su vulnerabilidad frente a las principales actividades que se desarrollarán. Dentro de los elementos que se pueden encontrar está el clima, geología, hidrogeología, hidrografía, morfología, pendientes, hidrología, calidad del agua, entre otros.

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Caracterización socioeconómica y cultural de la cuenca: involucra la relación del humano con la naturaleza y su transformación en el territorio, incluyendo lo social, cultural y económico. 

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Caracterización político-administrativa: descripción de toda la oferta institucional en materia ambiental presente en la cuenca, incluyendo: entidades, autoridades ambientales, organización ciudadana, otras características que confluyen en el mismo territorio.

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Caracterización funcional: en este se evalúa el nivel jerárquico de los asentamientos urbanos, la relación urbano - rural y urbano - regional.
        .sub-ecored.mt-5#22
            h2 2.2 Planes de ordenamiento y manejo de cuencas
        p Para Olaya, E. y Tosse, L. (2014), los POMCA, son instrumentos propicios para que tanto en su formulación e implementación, se construyan escenarios que permitan el desarrollo de la gobernanza del agua, donde se reflejen los acuerdos y compromisos entre el poder público, la sociedad civil, las comunidades étnicas y los sectores económicos (p.12).

        p Los POMCA deben estar articulados a los diferentes instrumentos de planeación nacional, regional y local, nunca deberán ser desarrollados como instrumentos independientes, ya que debe garantizarse el manejo integrado de la cuenca hidrográfica. De hecho, de acuerdo a la Ley 388 de 1997, se determina a los POMCA como una norma de superior jerarquía que otros planes, como se detalla en el Decreto 1640 de 2012: “El Plan de Ordenación y Manejo de la Cuenca Hidrográfica se constituye en norma de superior jerarquía y determinante ambiental para la elaboración y adopción de los planes de ordenamiento territorial, de conformidad con lo dispuesto en el Artículo 10 de la Ley 388 de 1997”

        p.mb-5 Lo invitamos a visualizar el siguiente video:

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/ZJMiCiXJKQQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')  

        p Para comprender la importancia de los instrumentos, denominados planes de ordenamiento de cuencas, se hace necesario primero realizar un pequeño análisis de los diferentes enfoques que se han abordado en Colombia desde su base normativa.   

        .teme-line.mt-5
            h3 Antecedentes normativos 

        .bd-hr-blue.mb-0  
        .timeline
            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content.mt-5.color-1
                    p.mt-3 Aún no se reconocían la fuentes de los desequilibrios hídricos y erosión, de acuerdo al Instituto de Hidrología, Meteorología y Estudios Ambientales [IDEAM, 2008], en su guía técnico científica para la ordenación y manejo de cuencas hidrográficas en Colombia. La práctica de la reforestación (para introducir coníferas y eucaliptos) venía a constituir la “panacea” o única acción para tratar de regular los caudales, controlar la calidad del agua y la degradación de suelos por la erosión, lo cual, evidentemente no fue la solución, sino otro factor de degradación (p.7).
                    p También encontramos el Decreto 1381 de 1940, en el cual se determinan los primeros lineamientos explícitos de política para el manejo del agua.

                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid.top(src='assets/images/pages/ilustraciones/time.svg', alt='')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date.mt-5
                    time.text-title Antes de los años 70
                
            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes                
                .col-10.col-md-5.order-3.order-md-1.timeline-content.mt-5.color-2
                    p.mt-3 En este periodo se crea el Instituto Nacional de los Recursos Naturales Renovables y del Ambiente [INDERENA], teniendo bajo su responsabilidad, entre otras funciones, las de adelantar labores de ordenación de cuencas hidrográficas y promoción de su desarrollo integral (IDEAM, 2008, p.8).

                    p También sucede la expedición del Código Nacional de los Recursos Naturales Renovables y de Protección al Medio Ambiente (Decreto - Ley 2811 de 1974), que inicia la planificación ambiental del territorio, estableciendo principios, normas generales y regulaciones para la planificación y manejo de los recursos suelo, aire, fauna, flora y el agua, entre otros, en el territorio colombiano. 

                    p Este instrumento marca el inicio de las directrices, que de manera específica orientan la administración del recurso hídrico en el país. Define la cuenca hidrográfica como un “área de manejo especial”, y establece en el Artículo 316 que: “se entiende por ordenación de una cuenca la planeación del uso coordinado del suelo, de las aguas, de la flora y la fauna, y por manejo de la cuenca, la ejecución de obras y tratamientos” (Olaya, E. y Tosse, L. 2014, p.12).

                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid.top(src='assets/images/pages/ilustraciones/time.svg', alt='')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date.mt-5
                    time.text-title Entre 1970 y 1990

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes                
                .col-10.col-md-5.order-3.order-md-1.timeline-content.mt-5.color-1
                    p.mt-3 Como lo expresa Olaya, E. y Tosse, L. (2014), en Guía técnica para la formulación de los Planes de Ordenación y Manejo de Cuencas Hidrográficas:
 
                    p Con la expedición de la Ley 99 de 1993, se crea el Ministerio de Medio Ambiente como organismo rector de la gestión del medio ambiente y de los recursos naturales renovables y se establecen lineamientos para fortalecer el Sistema Nacional Ambiental y fijar las pautas generales para el ordenamiento y manejo de cuencas hidrográficas y demás áreas de manejo especial, al igual que establece la competencia a las Corporaciones Autónomas Regionales y de Desarrollo Sostenible en la ordenación y manejo de las cuencas hidrográficas ubicadas en el área de su jurisdicción (p.13).

                    p Luego se expide la ley 165 de 1994, aprobando el convenio sobre la diversidad biológica, en el cual se promueve la formulación de planes y programas de conservación y utilización sostenible de la diversidad biológica.

                    p En el año 2002 se expide el Decreto 1729, sobre ordenación de cuencas, modificando así el Decreto 2857 de 1981 y fijando las pautas generales comprometidas en el numeral 12 del artículo 5 de la Ley 99 de 1993 (IDEAM, 2008, p.14).

                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid.top(src='assets/images/pages/ilustraciones/time.svg', alt='')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date.mt-5
                    time.text-title De 1990 a 2002
                    
            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes                
                .col-10.col-md-5.order-3.order-md-1.timeline-content.mt-5.color-2
                    p.mt-3 De acuerdo a Olaya, E. y Tosse, L. (2014), en 2010, el Ministerio de Ambiente, Vivienda y Desarrollo Territorial (hoy Ministerio de Ambiente y Desarrollo Sostenible), expidió la política nacional para la gestión integral del recurso hídrico, la cual define la cuenca hidrográfica como una unidad espacial de análisis y de gestión, en donde el agua interactúa con los demás recursos naturales renovables, elementos ambientales y ecosistemas estratégicos que la integran, así como los elementos antrópicos que influyen positiva o negativamente en la misma y los actores clave para la gestión integrada del recurso hídrico (Autoridades ambientales, usuarios, entes territoriales y demás entidades, tanto públicas como privadas, que actúan en la cuenca) (p.13).

                    p Lo anterior implica que siendo la cuenca una unidad de análisis y gestión integral del recurso hídrico, se deberán considerar en su ordenación y manejo, las medidas de acción necesarias para planificar el uso sostenible de la misma y de los recursos naturales renovables, ecosistemas y elementos ambientales presentes en ella (medidas de ordenamiento del recurso hídrico, manejo de páramos, de humedales y otros ecosistemas de importancia estratégica, de ordenación forestal, de manejo de reservas forestales, entre otras) (p.13).

                    p Luego se expide la Ley 1523 de 2012, mediante la cual se adopta la política nacional de gestión del riesgo de desastres y se establece el sistema nacional de gestión del riesgo de desastres, la cual involucra estos temas a los planes de ordenamiento de cuencas.

                    p Y se hace un gran aporte con el Decreto 1640 de 2012, por medio del cual se reglamentan los instrumentos para la planificación, ordenación y manejo de las cuencas hidrográficas y acuíferos, y se dictan otras disposiciones. Esta reglamentación establece la nueva estructura de planificación, ordenación y manejo de las cuencas hidrográficas del país, permitiendo una mayor claridad en el nivel de gestión de las mismas, por parte de las Autoridades ambientales competentes y las diferentes entidades y actores responsables de su formulación e implementación (Olaya, E. y Tosse, L., 2014, p.13); por último, establece el Plan Nacional de Microcuencas y de Acuíferos.

                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid.top(src='assets/images/pages/ilustraciones/time.svg', alt='')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date.mt-5
                    time.text-title Del 2002 al 2012

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes                
                .col-10.col-md-5.order-3.order-md-1.timeline-content.mt-5.color-1
                    p.mt-3 Se debe resaltar durante estos años la expedición del Decreto Único Reglamentario 1076 de 2015, que compila las disposiciones reglamentarias del Sector Ambiente. Se determinan las instancias para la coordinación de la planificación, ordenación y manejo de las cuencas hidrográficas y acuíferos, entre ellas el Consejo Ambiental Regional de la Macrocuenca para cada una de las áreas Hidrográficas o Macrocuencas del País y la Comisión Conjunta en las Subzonas Hidrográficas (Artículo 2.2.3.1.1.6 y 2.2.3.1.3.1).

                    p Y posteriormente, el Decreto 050 de 2018, el cual modifica parcialmente el Decreto 1076 de 2015, en relación con la conformación de los Consejos Ambientales Regionales de las Macrocuencas (CARMAC).

                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid.top(src='assets/images/pages/ilustraciones/time.svg', alt='')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date.mt-5
                    time.text-title Del 2002 al 2020
   
        .bd-hr-blue.mt-0                

        .teme-line.mt-5
            h3 Fases y procesos de un POMCA
        p A continuación se presenta un breve resumen de las fases que compone un POMCA, el cual se encuentra compuesto por seis (6) fases (aprestamiento, diagnóstico, prospectiva y zonificación ambiental, formulación, ejecución, seguimiento y evaluación).
        .header-arrow.py-4.my-5
            h3.text-center De acuerdo con Olaya, E. y Tosse, L., estas fases se pueden definir de la siguiente manera: 

        .row.justify-content-center.mt-5
            .col-10
                .card-media.color-2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/1.svg").img-fluid    
                        p Aprestamiento: en esta fase se definirá el plan de trabajo; la identificación, caracterización y priorización de actores; la estrategia de participación; se hará la revisión y consolidación de información existente, el análisis situacional inicial; y el plan operativo detallado para la formulación del plan (2014, p.26).  

            .col-10
                .card-media.color-2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/2.svg").img-fluid    
                        p Diagnóstico: en esta fase se consolidará el Consejo de cuenca y se determinará el estado actual de la cuenca en sus componentes: físico-biótico, socioeconómico y cultural, político administrativo, funcional y de gestión del riesgo, que servirán de base para el análisis situacional y la síntesis ambiental de la cuenca objeto de ordenación y manejo (2014, p.34). 

            .col-10
                .card-media.color-2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/3.svg").img-fluid    
                        p Prospectiva y zonificación ambiental: fase en la cual se diseñarán los escenarios futuros del uso coordinado y sostenible del suelo, de las aguas, de la flora y de la fauna presente de la cuenca, y se definirá en un horizonte no menor a diez años el modelo de ordenación de la cuenca, con base en el cual se formulará el plan de ordenación y manejo correspondiente (2014, p.49). 

            .col-10
                .card-media.color-2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/4.svg").img-fluid    
                        p Formulación: esta fase comprende la definición del componente programático, las medidas para la administración de los recursos naturales renovables y el componente de gestión del riesgo. También, como parte del componente programático, en esta fase se formulará la estructura administrativa y la estrategia financiera del POMCA, el diseño del programa de seguimiento y evaluación y, las actividades conducentes a la publicidad y aprobación del POMCA (2014, p.62). 

            .col-10
                .card-media.color-2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/5.svg").img-fluid    
                        p Ejecución: esta fase corresponde a las acciones de coordinación que deben adelantar las Corporaciones Autónomas Regionales y de Desarrollo Sostenible, competentes para la ejecución del plan de ordenación y manejo de la cuenca hidrográfica, en el escenario temporal para el cual fue formulado, sin perjuicio de las competencias establecidas en el ordenamiento jurídico para la inversión y realización de las obras y acciones establecidas en la fase de formulación del plan (2014, p.69).

            .col-10
                .card-media.color-2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/6.svg").img-fluid    
                        p Seguimiento y evaluación: esta fase corresponde a la aplicación de mecanismos definidos en el respectivo plan de seguimiento y evaluación, expuesto en la fase de formulación, que permitan, como mínimo, realizar anualmente el seguimiento y evaluación del POMCA por parte de las respectivas Corporaciones Autónomas Regionales y de Desarrollo Sostenible.

                        p El seguimiento y la evaluación constituyen un proceso dinámico y permanente de retroalimentación del POMCA. Cuenta con procedimientos sistemáticos de observación para comprobar la eficiencia y efectividad de los programas, proyectos y acciones formuladas. Determina los logros y debilidades del proceso, y derivado de ello, identifica las medidas correctivas para alcanzar los resultados esperados (2014, p.70).

        .jumbotron.mt-5
            p Para ampliar la información se sugiere que se dirija al material de apoyo y analice los documentos:

            .list.mt-3.ml-5
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p Guía técnico científica para la ordenación y manejo de cuencas hidrográficas en Colombia del IDEAM (2004). 

            .list.mt-3.ml-5
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p Guía técnica para la formulación de los planes de ordenación y manejo de cuencas hidrográficas de Olaya, E. y Tosse, L., Ministerio de Ambiente y Desarrollo Sostenible (2014).  

            section.mt-5

                a(href="http://corponarino.gov.co/expedientes/documentacion/ayudaa/guiadecuenca2008.pdf" target="_blank").media-link      

                    img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                    .media-link-title
                        p.text-small Instituto de Hidrología, Meteorología y Estudios Ambientales (2004). Guía técnico-científica para la ordenación y manejo de cuencas. 

            section.mt-5

                a(href="https://www.minambiente.gov.co/index.php/gestion-integral-del-recurso-hidrico/direccion-integral-de-recurso-hidrico/politica-nacional-para-la-gestion-integral-del-recurso-hidrico" target="_blank").media-link      

                    img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                    .media-link-title
                        p.text-small Ministerio de Ambiente, Vivienda y Desarrollo Territorial. (2010). Política Nacional para la Gestión Integral del Recurso Hídrico. Bogotá, D.C.: Colombia, Ministerio de Ambiente, Vivienda y Desarrollo Territorial. 124 p. 

            p.mt-5 Ingresar al link en cuestión, revisar el recuadro que habla sobre política nacional para la gestión integral del recurso hídrico; en la parte inferior revisar pestaña #[strong Documentos de interés y abrir archivo Política nacional para la gestión integral del recurso hídrico.]          

        .teme-line.mt-5
            h3 Normas técnicas colombianas para el POMCA
        .header-arroe.py-4.my-5
            h3 Para la organización de la información geográfica del plan, se sugiere la aplicación de las siguientes normas técnicas: 

        .bd-hr-blue.mb-0  
        .timeline
            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content.mt-5.color-1
                    p.mt-3 Establece los elementos, subelementos y descriptores de la calidad, utilizados por los productores para determinar si un conjunto de datos cumple la función de representar un universo abstracto, de conformidad con las especificaciones del producto. Igualmente, los usuarios pueden usar los requisitos de esta norma para establecer si un conjunto de datos cumple o no con la calidad para una aplicación específica.

                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid.top(src='assets/images/pages/ilustraciones/time.svg', alt='')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date.mt-5
                    time.text-title Norma Técnica Colombiana NTC 5043 
                
            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes                
                .col-10.col-md-5.order-3.order-md-1.timeline-content.mt-5.color-2
                    p.mt-3 Establece los requisitos para describir la información geográfica, bien sea análoga o digital, así como servicios geográficos. Proporciona los elementos que permiten documentar la información, por medio de secciones como: identificación, calidad, representación espacial, sistema de referencia, contenido de los datos, catálogo de símbolos y distribución, para un conjunto cualquiera de datos geográficos, soportadas por secciones de información adicional como: contacto, citación y fecha.

                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid.top(src='assets/images/pages/ilustraciones/time.svg', alt='')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date.mt-5
                    time.text-title Norma Técnica Colombia NTC 4611 

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes                
                .col-10.col-md-5.order-3.order-md-1.timeline-content.mt-5.color-1
                    p.mt-3 Especifica la metodología para determinar la estructura (catálogo) con la cual se organizan los tipos de objetos geográficos, sus definiciones y características (atributos, relaciones y operaciones); de igual forma, unifica las características de los catálogos de objetos, de tal manera que sean integrables, homologables y fácilmente comprensibles y permitir la creación, revisión y actualización.

                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid.top(src='assets/images/pages/ilustraciones/time.svg', alt='')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date.mt-5
                    time.text-title Norma Técnica Colombiana NTC 5661 
        .bd-hr-blue.mt-0

        .jumbotron.mt-5
            p Puede consultarlas en la base de datos que se encuentra en la página del sistema de bibliotecas SENA, en el icono del ICONTEC.
            p Amplíe sobre  conceptos básicos de calidad de los datos geográficos en la NTC 5043, información geográfica y metadato geográfico en la  NTC 4611 y para método para catalogación de objetos NTC 5661, en el Sistema de bibliotecas SENA, Base de datos.
            section.mt-5

                a(href="http://biblioteca.sena.edu.co/paginas/bases.html" target="_blank").media-link      

                    img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                    .media-link-title
                        p.text-small Debe ingresar a biblioteca SENA, ir a ICONTEC y buscar norma NTC 5043:2010 / NTC 4611:2011 /  NTC 5661:2010. 

        p Para realizar las actividades de inspección de sistemas de captación de agua y posterior potabilización, es primordial tener claro la normatividad más relevante en el sector, ya que esta es la guía técnica que debe ser usada en todo momento. A continuación podrán observar en el video lo relacionado con este proceso. 

        .sub-ecored.mt-5#23
            h2 2.3 Normatividad y reglamentación del sector de agua potable y saneamiento básico 
        p Es importante aclarar que dentro de la normativa del sector de agua potable y saneamiento básico, en algunos casos se encontrarán disposiciones particulares, dependiendo de la región donde se desarrollará el proyecto. Aunque todas parten de la normatividad nacional vigente, se recomienda, antes de iniciar un proyecto de potabilización de agua, revisar y documentarse de la legislación que reglamente la zona objeto del proyecto.
        
        .header-arrow.py-4.mt-5
            h3.text-center A continuación se presentan algunas de las normas más representativas:       

        .bd-hr-blue.mb-0  
        .timeline
            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content.mt-5.color-1
                    p.mt-3 Del Ministerio de Salud y Protección Social: autoriza a los laboratorios que señala la misma norma, para que realicen análisis físicos, químicos y microbiológicos al agua, para el consumo humano.

                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid.top(src='assets/images/pages/ilustraciones/time.svg', alt='')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date.mt-5
                    time.text-title Resolución 4353 de 2013 
                
            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes                
                .col-10.col-md-5.order-3.order-md-1.timeline-content.mt-5.color-2
                    p.mt-3 De Presidencia de la República: establece el mecanismo departamental para la evaluación y viabilización de proyectos del sector de agua potable y saneamiento básico, a financiar con recursos que no provienen de la Nación, y se determinan los requisitos y procedimientos para la presentación, viabilización y aprobación de proyectos.

                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid.top(src='assets/images/pages/ilustraciones/time.svg', alt='')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date.mt-5
                    time.text-title Decreto 475 de 2015

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes                
                .col-10.col-md-5.order-3.order-md-1.timeline-content.mt-5.color-1
                    p.mt-3 Ministerio de la Protección Social, Ministerio de Ambiente, Vivienda y Desarrollo territorial: por medio de la cual se señalan características, instrumentos básicos y frecuencias del sistema de control y vigilancia para la calidad del agua para consumo humano.

                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid.top(src='assets/images/pages/ilustraciones/time.svg', alt='')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date.mt-5
                    time.text-title Resolución 2115 del 2007 

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes                
                .col-10.col-md-5.order-3.order-md-1.timeline-content.mt-5.color-2
                    p.mt-3 Del Ministerio de Vivienda, Ciudad y Territorio: por la cual se adopta el Reglamento técnico para el Sector de agua potable y Saneamiento básico – RAS, y se derogan las Resoluciones 1096 de 2000, 0424 de 2001, 0668 de 2003, 1459 de 2005, 1447 de 2005 y 2320 de 2009”.

                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid.top(src='assets/images/pages/ilustraciones/time.svg', alt='')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date.mt-5
                    time.text-title Resolución 0330 de 2017 

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes                
                .col-10.col-md-5.order-3.order-md-1.timeline-content.mt-5.color-1
                    p.mt-3 Del Ministerio de Vivienda, Ciudad y Territorio: por la cual se establecen los requisitos técnicos para los proyectos de agua y saneamiento básico de zonas rurales que se adelanten bajo los esquemas diferenciales definidos en el Capítulo 1, del Título 7, de la parte del Libro 2 del Decreto número 1077 de 2015.

                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid.top(src='assets/images/pages/ilustraciones/time.svg', alt='')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date.mt-5
                    time.text-title Resolución 0844 de 2018                     
        .bd-hr-blue.mt-0        

        .teme-line.mt-5
            h3 Reglamentación del sector de Agua potable y Saneamiento básico [RAS].
        p Como se mencionó anteriormente, la base normativa de este reglamento es la Resolución 0330 de 2017. La Resolución aplica a los prestadores de los servicios públicos de acueducto, alcantarillado y aseo, a las entidades formuladoras de proyectos de inversión en el sector, a los entes de vigilancia y control, a las entidades territoriales y las demás con funciones en el sector de agua potable y saneamiento básico, en el marco de la Ley 142 de 1994. Así como a los diseñadores, constructores, interventores, operadores, entidades o personas contratantes que elaboren o adelanten diseños, ejecución de obras, operen y mantengan obras, instalaciones o sistemas propios del sector de agua y saneamiento básico.  

        .sub-title.mt-5
            h3 Principios orientadores del RAS   
        .header-arrow.py-4.my-5
            h3.text-center De acuerdo con la Resolución 0330 de 2017, en su Artículo 3°, los principios orientadores para las actividades de operación y mantenimiento son los siguientes:    
        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Garantizar la calidad de la presentación de los servicios. 

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Lograr la atención prioritaria de las necesidades básicas insatisfechas en materia de agua potable y saneamiento básico. 

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Buscar la ampliación permanente de las coberturas de los servicios. 

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p La planeación, economía, celeridad, transparencia, eficacia, imparcialidad, oportunidad, publicidad y responsabilidad en la contratación de las obras y de las actividades de operación y mantenimiento. 

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Garantizar la seguridad, durabilidad, funcionamiento adecuado, calidad, eficiencia y sostenibilidad de la infraestructura requerida para la prestación de los servicios públicos de agua y saneamiento. 

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Durante las etapas del proyecto, la interacción con la comunidad debe ser proactiva y preventiva. 

        p Por lo anterior, esta normativa se convierte en un instrumento fundamental en el desarrollo de cualquier proyecto asociado a la temática; junto a esta resolución se crean diversas herramientas que permiten su aplicación, dentro de ellas se encuentran:

        .header-arrow.py-4.my-5
            h3.text-center Los manuales o títulos: se crean junto a la resolución, 13 manuales o títulos nombrados por el abecedario, con el fin de brindar soporte técnico, dependiendo de la necesidad, de la siguiente forma:

        .row.justify-content-center.align-items-stretch.mt-5
            .col-12.col-md-3.card-color.mx-2.my-2.px-5.py-5
                h3.text-center Titulo A
                p.mt-2 Aspectos generales de los sistemas de agua potable y saneamiento básico               
            .col-12.col-md-3.card-color.mx-2.my-2.px-5.py-5
                h3.text-center Titulo B
                p.mt-2 Sistemas de acueducto
            .col-12.col-md-3.card-color.mx-2.my-2.px-5.py-5
                h3.text-center Titulo C
                p.mt-2 Sistemas de potabilización

        .row.justify-content-center.align-items-stretch
            .col-12.col-md-3.card-color.mx-2.my-2.px-5.py-5
                h3.text-center Titulo D
                p.mt-2 Sistemas de recolección y evacuación de aguas residuales domésticas y aguas lluvias             
            .col-12.col-md-3.card-color.mx-2.my-2.px-5.py-5
                h3.text-center Titulo E
                p.mt-2 Tratamiento de aguas residuales
            .col-12.col-md-3.card-color.mx-2.my-2.px-5.py-5
                h3.text-center Titulo F
                p.mt-2 Sistemas de aseo urbano

        .row.justify-content-center.align-items-stretch
            .col-12.col-md-3.card-color.mx-2.my-2.px-5.py-5
                h3.text-center Titulo G
                p.mt-2 Aspectos complementarios              
            .col-12.col-md-3.card-color.mx-2.my-2.px-5.py-5
                h3.text-center Titulo H
                p.mt-2 Compendio de la normatividad técnica y jurídica del sector de agua potable y saneamiento básico y sus actividades complementarias
            .col-12.col-md-3.card-color.mx-2.my-2.px-5.py-5
                h3.text-center Titulo I
                p.mt-2 Componente ambiental para los sistemas de acueducto, alcantarillado y aseo

        .row.justify-content-center.align-items-stretch
            .col-12.col-md-3.card-color.mx-2.my-2.px-5.py-5
                h3.text-center Titulo J
                p.mt-2 Alternativas tecnológicas en agua y saneamiento para el sector rural              
            .col-12.col-md-3.card-color.mx-2.my-2.px-5.py-5
                h3.text-center Titulo K
                p.mt-2 Gestión del riesgo en sistemas de acueducto, alcantarillado y aseo, conforme al reglamento técnico de agua y saneamiento ras
            .col-12.col-md-3.card-color.mx-2.my-2.px-5.py-5
                h3.text-center Titulo L
                p.mt-2 Instalaciones hidráulicas y sanitarias al interior de la vivienda

        .jumbotron.mt-5
            p Para consultar cada uno de los títulos se puede dirigir al Ministerio de Vivienda, en la siguiente ruta: 
            section.mt-5

                a(href="http://www.minvivienda.gov.co/viceministerios/viceministerio-de-agua/reglamento-tecnico-del-sector/manuales" target="_blank").media-link      

                    img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                    .media-link-title
                        p.text-small Ministerio de Vivienda. Reglamento técnico del sector Agua potable y Saneamiento, y seleccione el título que desea consultar.        
        p.mt-5 Además, el Ministerio de Vivienda también ofrece las guías técnicas de libre acceso, que permiten ampliar la información de la resolución y hacen más fácil su aplicabilidad. La figura que presentamos a continuación menciona los temas que aborda cada guía:  

        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img13.svg").img-fluid               