.container
    .header-ecored
        h1 4. Muestreo y medición
    .jumbotron.bg-white
        .quote
            .quote__bar
                .quote__bar__icon    
                    img(src="assets/images/icons/quote_01.svg", alt="")
                .quote__bar__hr      
            .quote__text
                p.mb-0 Teniendo en cuenta todo lo aprendido con anterioridad, se inicia el proceso del muestreo y medición, sin embargo, este debe ser realizado bajo unos parámetros y condiciones mínimas, por esto lo invitamos a ver el siguiente video, que dejará más claro los conceptos y las consideraciones al realizar estas actividades.    
            .quote__bar
                .quote__bar__hr 
                .quote__bar__icon
                    img(src="assets/images/icons/quote_02.svg", alt="")        
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img46.svg").img-fluid
        p Usualmente las actividades de muestreo y medición para el agua que será objeto de consumo humano se establecen previamente en un instrumento denominado programa de muestreo; este es un documento que se diseña para garantizar que las muestras tomadas sean representativas del sistema de distribución de agua para consumo humano.

        p De acuerdo al Instituto Nacional de Salud [INS] (2011), el muestreo es un proceso de toma de muestras que son analizadas en laboratorios para obtener información sobre la calidad del agua del sitio concertado en que fueron tomadas y el monitoreo es el proceso de muestreo del sistema de suministro de agua para consumo humano, que cubre espacio, tiempo y frecuencia en los puntos concertados según norma (p.16).

        p Luego, el último término que es importante aclarar es muestra: toma puntual de agua en los puntos de muestreo concertados, que refleja la composición física, química y microbiológica representativa del momento, para el proceso de vigilancia de la Autoridad Sanitaria. 
         
        .sub-ecored.mt-5#41
            h2 4.1 Procedimientos de muestreo 
        .teme-line.mt-5
            h3 Localización del muestreo 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img47.svg").img-fluid      
        p Para definir la localización de los muestreos se debe verificar siempre la normatividad legal vigente, en este caso la Resolución 0811 de 2008 de los ministerios de la Protección Social y de Ambiente, Vivienda y Desarrollo Territorial, por medio de la cual se definen los lineamientos a partir de los cuales la Autoridad Sanitaria y las Personas Prestadoras, concertadamente definirán en su área de influencia los lugares y puntos de muestreo para el control y la vigilancia de la calidad del agua para consumo humano en la red de distribución, en la cual se define que para establecer el punto de muestreo se deben tener en cuenta los siguientes criterios: 
        .list.mt-5.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Puntos fijos 

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p De interés general    

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p.mb-0 Provisionales

        p.mt-5 De acuerdo con el INS (2011), en esta resolución se establece el número mínimo de puntos de muestreo, de acuerdo con la población atendida (habitantes) por persona prestadora por municipio, para efectos del control y vigilancia de la calidad del agua para consumo humano y cómo se deben identificar esos puntos de muestreo de manera concertada, a través de un acta suscrita entre la Persona Prestadora y la Autoridad Sanitaria competente (p.27).

        p Lo invitamos a consultar la Resolución 0811 de 2008 de los ministerios de la Protección Social y de Ambiente, Vivienda y Desarrollo Territorial para ampliar la información.

        section.mt-5

            a(href="https://www.ins.gov.co/sivicap/Documentacin%20SIVICAP/2008%20Resoluci%C3%B3n%200811%20Puntos%20de%20muestreo.pdf" target="_blank").media-link      

                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                .media-link-title
                    p.text-small Ministerios de la Protección Social y de Ambiente, Vivienda y Desarrollo Territorial. Resolución 0811 de 2008.       

        .teme-line.mt-5
            h3 Definir métodos y cantidad de muestras
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img46.svg").img-fluid
        .row.justify-content-center.align-items-stretch
            .col-12.col-md-4.color-3.px-4.py-4
                h3 Muestreo Manual
                p Se realiza cuando se tienen sitios de fácil acceso, permitir al encargado de tomar la muestra, observar los cambios en las características del agua en cuanto a sustancias flotantes, color olor, aumento o disminución de caudales.
            .col-12.col-md-4.color-4.px-4.py-4
                h3 Muestreo Automático
                p Para sitios con difícil acceso, tiene como ventaja más precisión en la toma de muestras, pero a su vez es más complejo su montaje y calibración.
            .col-12.col-md-4.color-3.px-4.py-4
                h3 Muestreador Mixto
                p Involucra los dos muestreos anteriores y permite la verificación manual de los resultados obtenidos de forma automática.

        .teme-line.mt-5
            h3 Frecuencia del muestreo
        p La recolección de muestras en la red de distribución de agua para consumo humano se realizará siempre teniendo en cuenta la Resolución 2115 de 2007 de los ministerios de la Protección Social y de Ambiente, Vivienda y Desarrollo territorial, dentro de los artículos del 24 al 30, en los cuales se encuentran características, instrumentos y frecuencias del sistema de control y vigencia para la calidad del agua para consumo humano. Se les invita a consultar la norma para ampliar la información.                  

        .teme-line.mt-5
            h3 Vigilancia de la calidad del muestreo        
        p Esta fase se basa en la toma y análisis de la muestra en un momento determinado y que esta garantice la calidad del agua en dicho momento.
        .header-arrow.py-4.my-5
            h3.text-center Teniendo claro que las muestras pueden ser susceptibles de reacciones que generen cambios, es elemental tener todo el rigor científico y procedimental para tratar de controlar dichas reacciones, dentro de las cuales, según el INS (2011), se pueden encontrar:
        .row.justify-content-center.mt-5
            .col-10
                .card-media.color-2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img48.svg").img-fluid    
                        p Reacciones químicas o biológicas: temperatura, su exposición a la luz, la naturaleza del recipiente en el cual se coloca, el tiempo entre el muestreo y el análisis, las condiciones a las cuales se somete (agitación o reposo durante el transporte), etc., (p.31).              

            .col-10
                .card-media.color-2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img49.svg").img-fluid    
                        p Reacciones físicas: el tipo de agua, la velocidad de la toma, el transporte, el almacenamiento o preservación de la muestra. 
        p.mt-5 Es por esto que se sugiere siempre realizar algunos controles de las condiciones de las muestras durante los procesos de preservación, transporte y almacenamiento. 

        .header-arrow.py-4.my-5                         
            h3.text-center En los sitios de muestreo el INS sugiere que sean controles:
        .list.mt-5.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Testigo: solución de concentración conocida de la especie química a analizar, preparada en el laboratorio con agua grado reactivo; su función es soportar y hacer seguimiento de las condiciones de transporte, preservación y almacenamiento de las muestras.

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Blanco: muestra de agua grado reactivo que no contiene el analito de interés, pero que debe contener todos los reactivos que se utilizan en el método de muestreo y análisis, y debe ser sometido a las mismas condiciones y al mismo procedimiento que las muestras. La función de los blancos es demostrar que las muestras no sufrieron procesos de contaminación cruzada, ni alteraciones en el transcurso del muestreo, preservación y almacenamiento, y verifican el estado de limpieza de los envases.    

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Adicionado: muestra a la cual se le ha agregado una cantidad conocida del analito de interés. Esta adición debe hacerse en la forma prevista en el diseño de las condiciones de estandarización para que sea reproducible. La función de los adicionados es demostrar que no existen interferencias de matriz o que si existen son cuantificables y que el analito no se degrada o altera significativamente durante el muestreo y transporte, entre otras características.  

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Muestra duplicada: muestra de la cual dos porciones se depositan en botellas diferentes, con el fin de garantizar la repetitividad y representatividad del proceso de muestreo (2011, pp. 24 - 25).  

        .teme-line.mt-5
            h3 Puntos de muestreo
        p Los puntos de muestreo asociados a agua para consumo humano se encuentran descritos en la normatividad aplicable en este caso, la Resolución 0811 de 2008 del Ministerio de Protección Social de Ambiente, Vivienda y Desarrollo territorial, en la cual definieron los lineamientos a partir de los cuales la Autoridad Sanitaria y las Personas Prestadoras, concertadamente definirán en su área de influencia los lugares y puntos de muestreo para el  control y la vigilancia de la calidad del agua para consumo humano en la red de distribución.     

        .header-arrow.mt-5.py-5
            h3.text-center Dentro de los cuales puede encontrar diferentes puntos como:

        .row.justify-content-center.align-items-center.mt-6
            .col-12.col-md-8
                .list.ml-5
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Grifos conectados directamente a la tubería de distribución.
                .list.mt-3.ml-5
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Cajas de inspección a nivel de piso, con grifo de toma de muestra, similar a los medidores domiciliarios de agua, usualmente protegidas con tapas cilíndricas.
                .list.mt-3.ml-5
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Válvulas de tipo bayoneta.
                .list.mt-3.ml-5
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Hidrantes que cumplan con los criterios del artículo 2° de la Resolución 0811 de 2008.                                                                         
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img50.svg").img-fluid            
        
        .teme-line.mt-5
            h3 Pasos del muestreo 
        p Aunque la recolección de la muestra parece sencilla, siempre pueden existir errores procedimentales, por eso se aconseja, de acuerdo al INS, el siguiente orden procedimental para la toma del muestreo:

        p Indicaciones previas: 
        
        .row.justify-content-center.align-items-stretch.mt-5
            .col-12.col-md-6.py-4.px-4.color-5 
                .list
                    .list__item
                        .list__item__bulletNumber
                            span  1
                    .list__txt    
                        p Recolectar en el recipiente una muestra representativa del sistema de suministro de agua (cantidad sea suficiente para los análisis), escoger el recipiente adecuado dependiendo del análisis (vidrio o plástico) y realizar previa limpieza. 
            .col-12.col-md-6.py-4.px-4.color-5 
                .list
                    .list__item
                        .list__item__bulletNumber
                            span  2
                    .list__txt    
                        p La concentración de las sustancias que se van a determinar no debe modificarse entre la toma y el análisis.                   

        .hr-ecored
        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/icon_single_chevron.svg").img-fluid  
            .list__txt    
                p Pasos: 
                                        
        .row.justify-content-center.align-items-stretch.mt-3
            .col-12.col-md-6      
                .list
                    .list__item
                        .list__item__bulletNumber
                            span  1
                    .list__txt    
                        p.mb-0 Siempre cumplir con las recomendaciones de seguridad (elementos de protección y elementos requeridos para la toma). 
                hr.bg-brand-color-dark

                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span  2
                    .list__txt    
                        p.mb-0 Definir el cronograma de la toma de muestra.

                hr.bg-brand-color-dark
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span  3
                    .list__txt    
                        p.mb-0 Informar a las partes que intervienen. 

                hr.bg-brand-color-dark
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span  4
                    .list__txt    
                        p.mb-0 Establecer una ruta de toma de muestras.

                hr.bg-brand-color-dark
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span  5
                    .list__txt    
                        p.mb-0 Alistar reactivos y preservantes, definido todo lo anterior se alistan los reactivos y preservantes que se vayan a utilizar, recordar rotular y garantizar que se mantengan en condiciones aptas para que no se afecte el muestreo. 

                hr.bg-brand-color-dark
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span  6
                    .list__txt    
                        p.mb-0 Desinfectar equipos de muestreo y recipientes.

                hr.bg-brand-color-dark
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span  7
                    .list__txt    
                        p.mb-0 Llegar al lugar o sitio de muestreo.

                hr.bg-brand-color-dark
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span  8
                    .list__txt    
                        p.mb-0 Lavar y desinfectar los puntos de toma, siempre desinfectar con un paño limpio, empapado de solución de hipoclorito de sodio o calcio, según recomendaciones de la norma, o se puede usar temperatura si el dispensador de agua es metálico y drenar el agua por lo menos 1 a 2 minutos antes de tomar la muestra.

                hr.bg-brand-color-dark
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span  9
                    .list__txt    
                        p.mb-0 Arribar al punto de toma según ruta, previo a la hora programada y revisar el tipo, protección, mantenimiento y cuidado del sitio y dispositivo de toma de muestra que realice la persona prestadora. Tener presente si hay mantenimiento (contra la intemperie, vándalos o deterioro normal), dependiendo de si el dispositivo de toma está a ras, sobre o a media altura del piso (INSE, 2011, p.49).

                hr.bg-brand-color-dark
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span  10
                    .list__txt    
                        p.mb-0 Alistar todo el material de recolección de muestras, que incluye el formato de acta de toma de muestra, los elementos de limpieza y desinfección del punto, los envases para recolección de las muestras, los equipos obligatorios para realizar los análisis en sitio, los materiales para preservación y transporte (INSE, 2011, p.49).
                hr.bg-brand-color-dark
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span  11
                    .list__txt    
                        p.mb-0 Las neveras portátiles deben mantenerse a la sombra para permitir una mayor conservación de la temperatura. 
            .col-12.col-md-6.pl-2 

                .list
                    .list__item
                        .list__item__bulletNumber
                            span  12
                    .list__txt    
                        p.mb-0 Asear el sitio y revisar dispositivo de toma (grifo, válvula de globo, llave, corte rápido), que no haya fugas entre el tambor y el cuello. Limpiar el orificio de salida con una gasa o torunda de algodón con solución de hipoclorito o desinfectante, y en los casos en que el material no sea plástico sino metálico, podrá flambear con llama y limpiarse posteriormente con alcohol (INSE, 2011, p.49).

                hr.bg-brand-color-dark
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span  13
                    .list__txt    
                        p.mb-0 Abrir para purgar sistema, dejando fluir el agua mínimo 1 o más, para quitar la estanqueidad del tubo. 

                hr.bg-brand-color-dark
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span  14
                    .list__txt    
                        p.mb-0 Tomar la muestra y la contramuestra, contando incluso el tiempo de purga, en un lapso no superior a 10 minutos sin que el agua deje de fluir, siempre y cuando se tome muestra y contramuestra para todas las características (INSE, 2011, p.49).

                hr.bg-brand-color-dark
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span  15
                    .list__txt    
                        p.mb-0 Tomar la muestra para determinación de características que se pueden analizar en sitio: pH, cloro residual, en dado caso que se requiera también turbiedad, color aparente y conductividad eléctrica, si se cuentan con los equipos.

                hr.bg-brand-color-dark
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span  16
                    .list__txt    
                        p.mb-0 Tomar las muestras para análisis físico químicas y microbiológicas, que se enviarán al laboratorio correspondiente, teniendo en cuenta siempre el índice de riesgo de calidad del agua para consumo humano [IRCA], de que trata el artículo 13 de la Resolución 2115 de 2007.

                hr.bg-brand-color-dark
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span  17
                    .list__txt    
                        p.mb-0 Tomar la muestra para análisis especiales que se enviarán al laboratorio, dependiendo de cada muestreo (p.25).

                hr.bg-brand-color-dark
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span  18
                    .list__txt    
                        p.mb-0 Diligenciar el formato del acta.

                hr.bg-brand-color-dark
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span  19
                    .list__txt    
                        p.mb-0 Dejar el sitio de muestreo igual o mejor de lo que estaba.

                hr.bg-brand-color-dark
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span  20
                    .list__txt    
                        p.mb-0 Enviar o transportar, por el mejor medio disponible y en el menor tiempo posible, las muestras al laboratorio, Entregar al laboratorio, como parte de la cadena de custodia, el acta de toma de muestra, las muestras tomadas y terminar el proceso con firma de recibido por parte del laboratorio.
        
        .sub-ecored.mt-5#42
            h2 4.2 Reporte de eventos
        p Cuando en un muestreo se evidencie mala calidad del agua, alteraciones en sus características como alta turbiedad, color, olor, sabor desagradable, o presencia de sustancias aceitosas, flotantes, entre otros, se deben realizar los reportes a la entidad prestadora del servicio de agua potable, instalar un punto de muestreo provisional de seguimiento para vigilar la calidad de esta mientras se corrige la alteración. 

        .sub-ecored.mt-5#43
            h2 4.3 Registro de información 
        p Mantener registros de información durante el muestreo es evidencia de la organización de los programas diseñados para este fin y permiten tomar decisiones para el manejo del recurso, el tratamiento a realizar y responder las necesidades que se vean relacionadas.   
        .header-arrow.py-4.my-5
            h3.text-center Luego, el primer registro de información es el mismo programa de muestreo, el cual se diseña conforme a un protocolo o procedimiento operativo estándar [POE], documento que de acuerdo con el INS (2011), debe contener:            

        .list.mt-5.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Localización: sitio del muestreo que responde a las preguntas ¿cuándo? ¿dónde? ¿cómo? tomar la muestra.

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Procedimientos: método de muestreo, frecuencia, cantidad y calidad. 

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Equipo de muestreo: condiciones experimentales, mantenimiento y calibración según análisis a realizar.                                                   

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Recipientes de muestreo: clase, capacidad, identificación y almacenamiento.                     

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Preservación de la muestra: manejo antes de la medición.      

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Cadena de custodia: requisitos de identificación, etiquetado, rotulado e información de la muestra (p.34).                                     

        .header-arrow.py-4.my-5
            h3.text-center En cuanto a otros registros durante el proceso de muestreo, se refiere a aquellas observaciones que pueden ser útiles para interpretar los resultados dentro de los cuales se encuentra:
        .list.mt-5.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Nombre y ubicación del sitio.

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Latitud, longitud y altitud del sitio.

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Fecha y hora de toma de muestra.                                                  

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Condiciones del tiempo en el momento de tomar la muestra y recientes como si lloviera en el sector antes de la muestra.                    

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Condiciones del sitio: si se ve contaminado, hay peces o plantas, algas entre otros.     

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Color y olor del agua.   

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Claridad del agua (turbia o lodosa). 

        .list.mt-3.ml-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                p Cualquier otra que sea significativa (INS, 2011, p. 34-35). 

        p.mt-5 Con esta información, ya se puede iniciar el proceso de programación de la toma de la muestra de agua potable.                                          