.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Aguas combinadas:
            | Aguas compuestas por aguas residuales y aguas pluviales. Resolución 0330 (2017).
        
        p
            strong.mr-2 Aguas lluvias:
            | Aguas provenientes de la precipitación pluvial. Resolución 0330 (2017).
        p 
            strong.mr-2 Almacenamiento:
            | Acción destinada a almacenar un determinado volumen de agua para cubrir los picos horarios y la demanda contra incendios. Resolución 0330 (2017).
        p 
            strong.mr-2 Autoridad ambiental:
            | Se consideran como autoridades ambientales competentes, el Ministerio de Ambiente, Vivienda y Desarrollo Territorial, las Corporaciones Autónomas Regionales, Corporaciones de Desarrollo Sostenible, los municipios, distritos o áreas metropolitanas, cuya población urbana fuere igual o superior a un millón de habitantes (1.000.000) y las autoridades ambientales distritales a que refiere la última norma. Resolución 0330 (2017). 

        p 
            strong.mr-2 Caja de inspección domiciliar:
            | Caja ubicada en el límite de la red pública y privada, que recoge las aguas residuales, lluvias o combinadas provenientes de un inmueble. Resolución 0330 (2017).

        p 
            strong.mr-2 Cámara o pozo de inspección:
            | Estructura, de forma usualmente cilíndrica, localizada al inicio o dentro de un tramo de alcantarillado, que permite acceso desde la superficie del terreno para inspección o mantenimiento de los conductos. Resolución 0330 (2017).

        p
            strong.mr-2 Captación:
            | Conjunto de estructuras necesarias para tomar el agua de una fuente de abastecimiento. Resolución 0330 (2017).

        p
            strong.mr-2 Caudal:
            | Cantidad de fluido que pasa por determinado elemento en la unidad de tiempo. Resolución 0330 (2017). 

        p
            strong.mr-2 Consumo:
            | Cantidad de agua utilizada por un usuario en un período determinado. Resolución 0330 (2017). 

        p
            strong.mr-2 Cuenca hidrográfica:
            | Superficie geográfica que drena hacia un punto determinado. Resolución 0330 (2017). 

        p
            strong.mr-2 Parámetro:
            | Es la línea que determina el límite de construcción permitida en una obra. Resolución 0330 (2017).

        p
            strong.mr-2 Planta de tratamiento de agua potable (PTAP):
            | Conjunto de obras, equipos y materiales necesarios para efectuar los procesos que permitan cumplir con las normas de calidad del agua potable. Resolución 0330 (2017).

        p
            strong.mr-2 Red de distribución: 
            | Conjunto de tuberías, accesorios y estructuras que conducen el agua desde el tanque de almacenamiento o planta de tratamiento hasta los puntos de consumo. Resolución 0330 (2017).