.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Decreto 1640. Presidencia de la República de Colombia. Bogotá: Colombia. 2 de agosto 2012.
                    
                    td Norma
                    td 
                        a(href="https://www.funcionpublica.gov.co/eva/gestornormativo/norma.php?i=49987", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Ministerio de Ambiente, Vivienda y Desarrollo Territorial. (2010). Política Nacional para la Gestión Integral del Recurso Hídrico. Bogotá, D.C.: Colombia, Ministerio de Ambiente, Vivienda y Desarrollo Territorial. p.124 

                    td Libro 
                    td 
                        a(href="https://www.minambiente.gov.co/index.php/gestion-integral-del-recurso-hidrico/direccion-integral-de-recurso-hidrico/politica-nacional-para-la-gestion-integral-del-recurso-hidrico", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver     

                tr
                    td Instituto de hidrología, meteorología y estudios ambientales. (2004). Guía técnico científica para la ordenación y manejo de cuencas. 

                    td Guía
                    td 
                        a(href="http://corponarino.gov.co/expedientes/documentacion/ayudaa/guiadecuenca2008.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Resolución 0330.Ministerio de Vivienda, Ciudad y Territorio. Bogotá: Colombia. 8 Junio 2017.   
                    td Normatividad
                    td 
                        a(href="https://drive.google.com/file/d/1IjwFAv29GCS91oDODPHGZmLpNSwKVCDq/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Instituto Colombiano de Normas Técnicas y Certificación [ICONTEC]. (2007). NTC 3705, Medición de flujo de agua en canal abierto con vertederos de placa fina.   
                    td Norma
                    td 
                        a(href="http://biblioteca.sena.edu.co/paginas/bases.html", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Instituto Colombiano de Normas Técnicas y Certificación [ICONTEC]. (2007). NTC 3933. Método estándar para medición del flujo de agua en canal abierto, con canaletas parshall. 
                    td Norma
                    td 
                        a(href="http://biblioteca.sena.edu.co/paginas/bases.html", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver    

                tr
                    td Instituto de Hidrología, Meteorología y Estudios Ambientales [IDEAM]. (2007). Protocolo para el monitoreo y seguimiento del agua. 
                    td Guía
                    td 
                        a(href="http://documentacion.ideam.gov.co/openbiblio/bvirtual/021172/Protocoloparaelmonitoreoyseguimientodelagua.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver   

                tr
                    td Instituto Nacional de Salud [INS]. (2011). Manual de instrucciones para la toma, preservación, transporte de muestras de agua para consumo humano para análisis de laboratorio. ISBN 978-958-13-0147-8. 
                    td Manual
                    td 
                        a(href="https://www.ins.gov.co/sivicap/Documentacin%20SIVICAP", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver   

                tr
                    td Ministerio de Vivienda, Ciudad y Territorio. 2010. Reglamento técnico del sector de agua potable y saneamiento básico. Título B. ISBN: 978-958-8491-51-6 
                    td Norma
                    td 
                        a(href="https://drive.google.com/file/d/1TXFLUj7uDpy-X0ArOKKFqfXC6jRgMll0/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver        