include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Cárdenas, D. y Patiño, F. (2010). Estudios y diseños definitivos del sistema de agua potable de la comunidad de Tutucán, cantón paute, provincia del Azuay. Facultad de ingeniería civil. México. ", "https://dspace.ucuenca.edu.ec/bitstream/123456789/725/1/ti853.pdf.")

        +referenciaItem("Dourojeanni, Axel. (1993). Evolución de la gestión integral de cuencas en América Latina y el Caribe. Chile.", " ")

        +referenciaItem("García, W. (2019). El sistema complejo de la cuenca hidrográfica. Universidad Nacional de Medellín. ", "https://www.medellin.unal.edu.co/~poboyca/documentos/documentos1/documentos-Juan%20Diego/Plnaifi_Cuencas_Pregrado/Sistema%20CuencaHidrogr%E1fica.pdf")

        +referenciaItem("Jiménez. (sf). Ventajas y desventajas de la captación de agua según fuente. ", "https://www.uv.mx/ingenieriacivil/files/2013/")

        +referenciaItem("Organización Mundial de la Salud [OMS], (2011). Guías para la calidad del agua de consumo humano. Cuarta edición. ", "https://apps.who.int/iris/bitstream/handle/10665/272403/9789243549958-spa.pdf?ua=1")

        +referenciaItem("Mott, R. (2006). Mecánica de fluidos. Sexta edición. Pearson Education.", " ")

        +referenciaItem("Ministerio de Desarrollo Económico. (2017). Reglamento Técnico del Sector de Agua Potable y Saneamiento Básico. [RAS]. ", "http://www.minvivienda.gov.co/Documents/ViceministerioAgua/010710_ras_titulo_a_.pdf")

        +referenciaItem("Ministerio de Ambiente, Vivienda y Desarrollo Territorial. (2010). Política Nacional para la Gestión Integral del Recurso Hídrico. Bogotá, D.C. Colombia: Ministerio de Ambiente, Vivienda y Desarrollo Territorial.p.124. ", "https://www.minambiente.gov.co/index.php/gestion-integral-del-recurso-hidrico/direccion-integral-de-recurso-hidrico/politica-nacional-para-la-gestion-integral-del-recurso-hidrico")

        +referenciaItem("Nadal R., Eugenio. (1993). Introducción al análisis de la planificación hidrológica. Madrid: MOPT.", " ")

        +referenciaItem("Sonsón Televisión Oficial. (2018). Planes de ordenación y manejo de cuencas hidrográficas. Youtube.  ", "https://www.youtube.com/watch?v=ZJMiCiXJKQQ")

        +referenciaItem("Instituto Colombiano de normas técnicas y certificación [ICONTEC]. (2007). NTC 3705, Medición de flujo de agua en canal abierto con vertederos de placa fina.", " ")

        +referenciaItem("Instituto Nacional de Salud [INS]. (2011). Manual de instrucciones para la toma, preservación, transporte de muestras de agua para consumo humano para análisis de laboratorio. ISBN 978-958-13-0147-8.", "https://www.ins.gov.co/sivicap/Documentacin%20SIVICAP")

        +referenciaItem("Instituto Colombiano de normas técnicas y certificación [ICONTEC]. (2007). NTC 3933. Método estándar para medición del flujo de agua en canal abierto, con canaletas parshall.", " ")

        +referenciaItem("Instituto de hidrología, meteorología y estudios ambientales [IDEAM]. (2008). Guía técnico científica para la ordenación y manejo de cuencas hidrográficas en Colombia. ", "https://riosalitre.files.wordpress.com/2008/09/guia-tecnico-cientifica.pdf")

        +referenciaItem("Instituto de hidrología, meteorología y estudios ambientales [IDEAM]. (2007). Protocolo para el monitoreo y seguimiento del agua.", "http://documentacion.ideam.gov.co/openbiblio/bvirtual/021172/Protocoloparaelmonitoreoyseguimientodelagua.pdf")

        +referenciaItem("Olaya, E y Tosse, L, (2014). Guía técnica para la formulación de los planes de ordenación y manejo de cuencas hidrográficas. Ministerio de ambiente y desarrollo sostenible. ", "https://www.minambiente.gov.co/index.php/gestion-integral-del-recurso-hidrico/planificacion-de-cuencas-hidrograficas/cuenca-hidrografica/guia-pomcas")

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            